* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template: 1fr 5fr / 1fr 6fr;
}

.header {
    grid-column: 1/-1;
    grid-row: 1/2;
    background-color: red;
}

.sidebar {
    grid-row: 2/-1;
    background-color: blue;
}

.main-content {
    background-color: purple;
}